.header
    background: rgba(#ffffff, 0.8)
    box-shadow: 0 0 25px 0 rgba(#000000, 0.2)
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 99
    padding: 20px 0

    .container
        align-items: center
        justify-content: space-between

.logo
    display: flex

.main-nav
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    li
        margin-right: 30px
        font-weight: 700
        text-transform: uppercase
        &:last-child
            margin-right: 0
        &.active
            a
                border-bottom-color: $main-cl
    a
        +tr
        text-decoration: none
        border-bottom: 2px solid transparent
        &:hover
            border-bottom-color: $main-cl
