.main-nav

.main-nav__list
    list-style-type: none
    padding: 0
    margin: 0
    display: flex

.main-nav__item
    +adaptive(float)
        margin-right: get-vw(40px)
    +adaptive(1600)
        margin-right: 30px
    &:last-child
        margin-right: 0

.main-nav__link
