body
    color: $text-cl
    font-family: $main-font
    +adaptive(float)
        font-size: get-vw(16px)
    +adaptive(1600)
        font-size: 16px

a
    color: $main-cl
    text-decoration: underline
    &:hover
        color: $main-cl
        text-decoration: none

.main-content
    display: flex
    flex-direction: column
    justify-content: flex-start

.container
    +adaptive(float)
        padding: 0 get-vw(60px)
    +adaptive(1600)
        padding: 0 60px
    +adaptive(1000)
        padding: 0 40px
    +adaptive(800)
        padding: 0 30px
    +adaptive(600)
        padding: 0 10px

.scroll-line
    position: fixed
    top: 0
    left: 0
    height: 2px
    background: $main-cl

.top
    +tr()
    cursor: pointer
    position: fixed
    background: $main-cl
    border-radius: 50%
    +adaptive(float)
        right: get-vw(-50px)
        bottom: get-vw(50px)
        width: get-vw(50px)
        height: get-vw(50px)
    +adaptive(1600)
        right: -50px
        bottom: 50px
        width: 50px
        height: 50px
    &:hover
        transform: translateY(-10%)
    &.show
        +adaptive(float)
            right: get-vw(50px)
        +adaptive(1600)
            right: 50px