@mixin font-face($font-family, $file-path, $weight: normal, $style: normal)
    @font-face
        font-family: $font-family
        src: url('#{$file-path}.eot')
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg')
        font-weight: $weight
        font-style: $style


$layout-width: 1920

@function get-vw($px)
    $vw-context: ($layout-width*.01) * 1px
    @return ($px/$vw-context) * 1vw

//percent minus vw
@function percent-vw($percent, $px)
    $vw-context: ($layout-width*.01) * 1px
    @return unquote(('calc('+$percent * 1%+ ' - ' + ($px/$vw-context) * 1vw +')'))

//percent plus vw
@function percent-p-vw($percent, $px)
    $vw-context: ($layout-width*.01) * 1px
    @return unquote(('calc('+$percent * 1%+ ' + ' + ($px/$vw-context) * 1vw +')'))


$w-min: 1601px
$w-max: 2560px
@mixin adaptive($media)
    @if $media == float
        // @media (min-width: $w-min) and (max-width: $w-max)
        @media (min-width: $w-min)
            @content
    @else
        @media (max-width: $media * 1px)
            @content


@mixin placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content


@mixin hover-link($bg-color, $height, $speed)
    &:before
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: 0
        height: $height
        background: $bg-color
        transition: $speed
    &:hover
        &:before
            left: 0
            width: 100%


@mixin tr($time: 0.3s, $property: all)
    transition: $time $property

