.w-100
    width: 100%
.w-100vw
    width: 100vw

.h-100
    height: 100%
.h-100vh
    height: 100vh

.img-resp
    max-width: 100%
    height: auto
    display: block

.img-fit
    width: 100%
    height: auto
    display: block
    @supports (object-fit: cover)
        height: 100%
        object-fit: cover
        // object-position: top center

.fadeOut
    pointer-events: none
    visibility: hidden
    opacity: 0

.fadeIn
    pointer-events: all
    visibility: visible
    opacity: 1

.hide
    display: none

.hidden
    display: none

.visible
    display: block

.visibilityHidden
    position: absolute
    top: 0
    left: 0
    width: 1px
    height: 1px
    margin: -1px
    padding: 0
    border: 0
    clip: rect(0, 0, 0, 0)
    clip-path: inset(100%)

.disabled
    opacity: 0.5
    cursor: not-allowed
    pointer-events: none

.list-unstyled
    padding: 0
    margin: 0
    list-style-type: none

.text-light
    font-weight: 300
.text-normal
    font-weight: 400
.text-medium
    font-weight: 500
.text-sbold
    font-weight: 600
.text-bold
    font-weight: 700

// text-transform
.text-upr
    text-transform: uppercase
.text-lwr
    text-transform: lowercase

// text-align
.text-center
    text-align: center
.text-left
    text-align: left
.text-right
    text-align: right

// color
.c-accent
    color: $main-cl
.bg-accent
    color: $main-cl

.c-white
    color: #ffffff

//indents
.mb-0
    margin-bottom: 0 !important

.pb-0
    padding-bottom: 0 !important